/* Colors */
$vibrant-red: #ff2E1D;
$blue-carbon: #052E45;
$green: #00AC6B;

$white: #ffffff;
$black: #262626;
$light-grey: #939393;
$light-blue: #F3F5FD;
$border: #E1E0E1;
$dark-blue: #081C34;
$red-alstom: #D1002D;
$hover-blue: $vibrant-red;


// $corp-blue :        #0B4892;
$corp-blue: $blue-carbon;
$corp-green: $green;
$corp-gold: #9B875F;
$corp-light-blue: $light-blue;

$facebook: #004188;
$twitter: #059FF5;
$youtube: #FF0002;
$instagram: #262626;
$linkedin: #2B75C5;