@font-face {
    font-family: 'alstom_black';
    src: url('/static/fonts/Alstom Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alstom_bold';
    src: url('/static/fonts/Alstom Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alstom_light';
    src: url('/static/fonts/Alstom Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alstom_medium';
    src: url('/static/fonts/Alstom Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alstom_regular';
    src: url('/static/fonts/Alstom Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alstom_xlight';
    src: url('/static/fonts/Alstom XLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}